[Desktop Entry]
Encoding=UTF-8
Name=Hopper Disassembler v3
Comment=Hopper Disassembler v3
Exec=/usr/bin/hopper-v3 %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=hopper-disassembler-v3.png
Categories=Application;Development;Utility;
